name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - id: string
      uses: ASzc/change-string-case-action@v1
      with:
          string: "${{ github.repository }}"
      
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ steps.string.outputs.lowercase }}
